<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="/statics/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/statics/js/bootstrapjs/js/bootstrap.js"></script>
<link rel="stylesheet" href="/statics/js/bootstrapjs/css/bootstrap.css">

<link rel="stylesheet" href="/statics/js/bootstarp-treeview/bootstrap-treeview.min.css">
<script type="text/javascript" src="/statics/js/bootstarp-treeview/bootstrap-treeview.min.js"></script>

<script type="text/javascript" src="/statics/js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
<link rel="stylesheet" href="/statics/js/bootStrap-addTabs/bootstrap.addtabs.css">

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">管理系统</a>
        </div>
        <div class="navbar-brand pull-right">
            <button type="button" onclick="loginOut()" class="btn btn-danger">注销</button>
        </div>
    </div>
</nav>
<!-- 布局 -->
<div class="container-fluid">
    <div class="rows">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div id="myTree"></div>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>
                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        欢迎欢迎使用111111
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    $(function(){
        initTree();
    })
    //树
    function initTree(){
        $.ajax({
            url:'../tree/queryTree',
            //type:'post',
            data:{},
            dataType:'json',

            success:function(result){
                $('#myTree').treeview({
                    data:result,
                    onNodeSelected:function(event, node) {
                        $.addtabs({iframeHeight: $(window).height()-120});
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            url:node.href
                        });
                    }
                })
            }
        })
    }






</script>
</html>